<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Header Fragment</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag" />
</head>
<body>

    <header th:fragment="header" role="banner">
        <div>
            <a id="home-anchor" href="https://www.maap-project.org/"><img src="images/nasamaaplogo3.png" style="padding: 15px 40px;float: left;" width="auto" height="90"></a>
        </div>
        <br>
        <script>
        
            window.onload = (event) => {

                var authHost = new URL(window.location).host;

                var homeHost = authHost.replace("auth.","");
                if( authHost === 'auth.maap-project.org') {
                    homeHost = 'www.' + homeHost;
                }

                var homeAnchor = document.getElementById('home-anchor');
                homeAnchor.href = 'https://' + homeHost;

            };

        </script>
    </header>
</body>
</html>
