.classpath
!/.project
.project
.settings
.history
.vscode
target/
.idea/
.DS_Store
.idea
overlays/
.gradle/
build/
log/
bin/
*.war
*.iml
*.log
tmp/
./apache-tomcat
apache-tomcat.zip
etc/ssl/certs/**
etc/ssl/private/**
!etc/ssl/certs/.gitkeep
!etc/ssl/private/.gitkeep